name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Lint, test, build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun test

      - name: Build
        run: bun build --compile --define 'process.env.DEV="false"' --target=bun-linux-x64 src/index.tsx --outfile dist/burp
